<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <div class="welcome">欢迎回到XiuSearch这个大家庭~</div>
    <div class="container">
        <div>
            <img src="\static\img\login.png" alt="" />
        </div>
        <div class="login-part">
            <div class="some-tips">在这里登录您的账号</div>
            <form>
                <p class="input-hit">* 您的邮箱：</p>
                <input class="input-content" type="email" name="userEmail">
                <p class="input-hit">* 您的密码：</p>
                <input class="input-content" type="password" name="userPassword">
                <div class="btn">
                    <div>
                        <input class="but-buttom" style="background-color: cornflowerblue" type="submit"  value="确认" name="submit">
                        <input class="but-buttom" type="reset" value="取消" name="cancel">
                    </div>
                    <div>
                        <input class="but-buttom" type="submit" value="注册" name="toregister">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>