<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link href="/static/css/logo.css" type="text/css" rel="stylesheet">

<body>
    <div class="logo">
        <div class="container">
            <div>
                <img src="/static/img/logo.png" alt="" />
            </div>
            <div class="text">
                <div class="master">201Search</div>
                <div class="slug">
                    技术人自己的搜索引擎
                    <div class="beta">beta</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

