<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <div class="welcome">欢迎回到 B201这个大家庭~</div>
    <div class="container">
        <div>
            <img src="register.png" alt="" />
        </div>
        <div class="login-part" style="height: 20rem">
            <div class="some-tips">在这里注册您的账号</div>
            <form th:action="@{/registerConfirm}" th:object:"${user}" method="post">
                <p class="input-hit">* 用户名:  &nbsp&nbsp&nbsp&nbsp&nbsp
                    <input th:value="${user.userName}" class="input-content" type="text" name="userName">
                </p>
                <p class="input-hit">* 您的邮箱：
                    <input th:value="${user.userEmail}" class="input-content" type="email" name="userEmail">
                </p>
                <p class="input-hit">* 您的密码：
                    <input th:value="${user.userPassword}" class="input-content" type="password" name="userPassword">
                </p>
                <p class="input-hit">* 重复密码：
                    <input th:value="${user.userPasswordAgain}" class="input-content" type="password" name="userPasswordAgain">
                </p>
                <div style="display: flex">
                    <p class="input-hit">* 验证码：&nbsp&nbsp&nbsp&nbsp
                        <input th:value="${user.code}" class="input-content" type="text" name="code" style="width: 50%">
                    </p>
                    <a th:href="@{/getcode(userEmail=${user.userEmail})}">获取验证码</a>
                </div>

                <div class="btn">
                    <div>
                        <input class="but-buttom" style="background-color: cornflowerblue" type="submit"  value="确认" name="submit">
                        <input class="but-buttom" type="reset" value="取消" name="cancel">
                    </div>
                    <div>
                        <input class="but-buttom" type="submit" value="注册" name="toregister">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>